<div class="overlay">

  <ul class="projects-menu">
    {% for item in site.data.projects %}
      {% capture project_image %}{{ item.image }}{% endcapture %}
      {% unless project_image contains 'http://' or project_image contains 'https://' %}
      {% capture project_image %}{{ site.url }}{{ project_image }}{% endcapture %}
      {% endunless %}

      {% capture project_url %}{{ item.url }}{% endcapture %}
      {% unless project_url contains 'http://' or project_url contains 'https://' %}
      {% capture project_url %}{{ site.url }}{{ project_url }}{% endcapture %}
      {% endunless %}

      <li style="background:url({{ project_image }}) center center no-repeat;">
        <a href="{{ project_url }}" {% unless item.completed %}class="inactive"{% endunless %} target="_blank" rel="nofollow external">
          <span>
            {{ item.title }}
            {% unless item.completed %}
            <br><em>in progress</em>
            {% endunless %}
          </span>
        </a>
        </li>
    {% endfor %}
  </ul>

  <style>
   body#homepage .overlay .logo {
    display: none;
   }

   div .overlay .logo {
    top: 20px;
    left: 20px;
    position: absolute;
   }
  </style>
  <a href="{{ site.url }}/index.html" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>

</div>
